$color_primary: #00d1b2;
$color_primary_light: #ebfffc;
$color_primary_dark: #00947e;
$color_link: #485fc7;
$color_link_light: #eff1fa;
$color_link_dark: #3850b7;
$color_info: #3e8ed0;
$color_info_light: #eff5fb;
$color_info_dark: #296fa8;
$color_success: #48c78e;
$color_success_light: #effaf5;
$color_success_dark: #257953;
$color_warning: #ffe08a;
$color_warning_light: #fffaeb;
$color_warning_dark: #946c00;
$color_danger: #f14668;
$color_danger_light: #feecf0;
$color_danger_dark: #cc0f35;

$color_light: #f5f5f5;
$color_dark: #363636;

$color_blue: #007bff;
$color_indigo: #6610f2;
$color_purple: #6f42c1;
$color_pink: #e83e8c;
$color_red: #ff7851;
$color_orange: #fd7e14;
$color_yellow: #ffce67;
$color_green: #56cc9d;
$color_teal: #20c997;
$color_cyan: #6cc3d5;
$color_white: #fff;
$color_black: #000;

$color_gray_100: #f8f9fa;
$color_gray_200: #f7f7f9;
$color_gray_300: #eceeef;
$color_gray_400: #ced4da;
$color_gray_500: #aaa;
$color_gray_600: #888;
$color_gray_700: #5a5a5a;
$color_gray_800: #343a40;
$color_gray_900: #212529;
