html, body {
  margin: 0;
}

h1 {
  margin: 0;
}

a.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  border-radius: 20px;
}
a.button:active{
  background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 70%);
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}

header img {
  margin-top: 5px;
  width: 200px;
}

section.main-image {
  max-height: 420px;
}
section.main-image img {
  max-height: 420px;
  width: 100%;
  object-fit: cover;
}

section .contents-wrapper {
  margin: 0 20%;
  padding: 20px 0;
}

@media screen and (max-width: 1023px) {
  a, p {
    font-size: 90%;
  }
  section .contents-wrapper {
    margin: 0 15%;
  }
}

@media screen and (max-width: 767px) {
  a, p {
    font-size: 80%;
  }
  section .contents-wrapper {
    margin: 0 10%;
  }
}

@media screen and (max-width: 479px) {
  a, p {
    font-size: 70%;
  }
  section .contents-wrapper {
    margin: 0 5%;
  }
}

footer {
  color: #efefef;
  text-align: center;
  padding: 0.6em;
}

footer p {
  margin: 0;
}
