html, body {
  margin: 0;
}

h1 {
  margin: 0;
}

header img {
  margin-top: 5px;
  width: 200px;
}

section.main-image {
  max-height: 420px;
}
section.main-image img {
  max-height: 420px;
  width: 100%;
  object-fit: cover;
}

section .contents-wrapper {
  margin: 0 20%;
  padding: 20px 0;
}

@media screen and (max-width: 1023px) {
  section .contents-wrapper {
    margin: 0 15%;
  }
}

@media screen and (max-width: 767px) {
  section .contents-wrapper {
    margin: 0 10%;
  }
}

@media screen and (max-width: 479px) {
  section .contents-wrapper {
    margin: 0 5%;
  }
}

footer {
  color: #efefef;
  text-align: center;
  padding: 12px;
}

footer p {
  margin: 0;
}
